<!--<div class="well">
    <table>
        <tbody>
            <tr>
                <td>
                    Id:
                </td>
                <td>
                    {{wallet.Id}}
                </td>
            </tr>
            <tr>
                <td>
                    Satus:
                </td>
                <td>
                    {{wallet.Status}}
                </td>
            </tr>
            <tr>
                <td>
                    Currency:
                </td>
                <td>
                    {{wallet.Currency}}
                </td>
            </tr>
            <tr>
                <td>
                    Amount:
                </td>
                <td>
                    {{wallet.Amount}}
                </td>
            </tr>
        </tbody>
    </table>
</div>-->

<div class="well">qwe</div>