<button class="accordion"  data-toggle="collapse" attr.data-target="#customer{{customer.Id}}">{{customer.FirstName + " " + customer.Surname}}</button>
<div id="customer{{customer.Id}}" class="collapse">
    <div class="row">
        <div class="col-xs-6">
            <div class="well">qwe
            </div>
        </div>
        <div class="col-xs-6">
            <div class="well">
                <wallet-info *ngFor="let wallet of walletArr" [wallet]="wallet"></wallet-info>
            </div>
        </div>
    </div>
</div>