<button class="accordion"  data-toggle="collapse" attr.data-target="#customer{{customer.Id}}">{{customer.FirstName + " " + customer.Surname}}</button>
<div id="customer{{customer.Id}}" class="collapse">
    <div class="row">
        <div class="col-xs-6">
            <div class="well" (click)="modal.show()">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                id:
                            </td>
                            <td>
                                {{customer.Id}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                name:
                            </td>
                            <td>
                                {{customer.FirstName + " " + customer.Surname}}
                            </td>
                        </tr>
                        <tr>
                            <td>    
                                born:
                            </td>
                            <td>
                                {{customer.BirthDate}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                phone:
                            </td>
                            <td>
                                {{customer.Phone}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                email:
                            </td>
                            <td>
                                {{customer.eMail}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6">
                <bank-wallet-info *ngFor="let wallet of walletArr" [wallet]="wallet"></bank-wallet-info>
        </div>
    </div>
</div>

<app-modal #modal>
    <div class="app-modal-body">
        <bank-account-form [customer]="customer"></bank-account-form>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
</app-modal>